@media (max-width: 480px) {
  .component{
    min-width: 90%;
    margin: 0 auto 40px auto;
  }
  .component .character-name__table .table__cell{
    display: block;
    text-align: center;
  }
  .component .character-name__table .table__cell__name{
    border: none;
  }
  .component .character-name__table .character-name__link {
    margin: 0 0;
  }
}
